@import "tailwindcss";

body {
  width: 100vw;
  height: auto;
  background-color: #ffffff;
  user-select: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  overflow-x: hidden;
}
